.maintext8{
    background: url(https://www.spinxdigital.com/app/themes/spinxdigital/assets/images/hero-txt-img.jpg);
        -webkit-background-clip: text;
        color: transparent;
        background-size: cover;
        background-clip: text;
        // font-size: 10rem;
}